@media (min-width: 769px) {
  .footer__logo-wrapper img {
    width: 85px;
    height: auto;
  }

  .footer__logo-wrapper p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .footer__logo-wrapper img {
    width: auto;
    height: auto;
  }

  .footer__logo-wrapper p {
    font-size: 10px;
  }
}
