.aboutus-container {
    padding: 16px 0;
}

.aboutus__card {
    
    background-color: #f8fbff; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 48px;
    border-radius: 8px;
    margin-top: 32px;
}

.aboutus__card-img {
    margin: auto auto;
    display: block;
    width: 240px;
    height: 240px;
    /* change background img in this div */
    background-color: #ccc;
    object-fit: cover;
    border-radius: 50%;    
}

.aboutus__card-info {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus__card-name {
    padding-bottom: 16px;
}

.aboutus__card-desc {
    padding: 4px 0;
}
