body {
  background: #f8fbff;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

h1,
h2,
h3 {
  margin: 0 0 10px 0;
  font-weight: 400;
}

p {
  margin: 0 0 20px 0;
}

strong {
  font-weight: 700;
}

@media screen and (max-width: 1023px) {
  .Term_of_service {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 14px;
  }
}
