.button {
	border: 0 solid transparent;
	outline: none;
	background-color: #ff3368;
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 20px;
	transition: all 0.4s ease-in-out;
}

.button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.chip {
	border: 2px solid rgb(var(--primary-color-rgb));
	width: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 30px;
	padding: 0;
	flex-shrink: 0;
}

.button--secondary {
	background-color: #fff;
	color: var(--primary-color);
}

.button:hover.button--secondary {
	cursor: pointer;
	background-color: rgba(var(--primary-color-rgb), 0.8);
	color: #fff;
}

.chip-radio {
	display: none;
}

.chip-radio:checked + .chip {
	background-color: var(--primary-color);
	color: #fff;
}

.column-gap {
	column-gap: 5px;
}

.padding-top-bottom {
	padding: 40px 0;
}