/* card for product and store */

.card {
	width: 240px;
	border-radius: 5px;
	transition: all 0.5s;
	margin: auto;
	/* background-color: red; */
	padding-bottom: 20px;
}

.card:hover {
	box-shadow: 0 10px 20px 0 rgb(0 23 51 / 9%);
	z-index: 1;
}

.card.card--product:hover .card__body,
.card:hover .store__container {
	transition: inherit;
	padding: 0 20px;
}

.card.card--product:not(:hover) .card__body,
.card:not(:hover) .store__container {
	transition: inherit;
	padding: 0 10px;
}

.card__img-container {
	width: 100%;
}

.card__img {
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.card a {
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
}

.card a:hover {
	color: #ff3368;
}

.card__img-container:hover {
	transition: 0.5s ease-in-out;
	opacity: 0.8;
}

/*  ------------------------------------------------------------- */

/* card about us */
.card--about-us {
	display: grid;
	background-color: #f8fbff;
	gap: 32px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	padding: 32px;
	margin: 32px 0;
	border-radius: 8px;
}

.card--about-us .card__img {
	border-radius: 50% 50% 50% 50%;
	width: 50%;
	margin: auto;
}

.card--about-us .card__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card--about-us .card__titles {
	padding-bottom: 16px;
}

.card--about-us .card__description {
	padding: 4px 0;
}

@media (max-width: 1023px) {
	.card--about-us {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		justify-items: center;
	}

	.card--about-us .card__body {
		text-align: center;
		justify-content: start;
	}
}

/* ----------------------- */
.card--fee {
	width: 280px;
	padding: 20px 10px;
	border-radius: 30px;
	background-color: #ecfdff;
	text-align: center;
}

.card__table {
	border-collapse: separate;
	width: 100%;
	border-spacing: 16px;
}

.card__table td,
.card__table th {
	border: none;
}

.card__table td:nth-child(odd),
.card__table th:nth-child(odd) {
	text-align: left;
}

.card__bottom {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.card.card--no-padding-effect:not(hover) .card__body,
.card.card--no-padding-effect:not(hover) .card__bottom,
.card.card--no-padding-effect:hover .card__body,
.card.card--no-padding-effect:hover .card__bottom {
	padding-left: 10px;
	padding-right: 10px;
}

