.footer__row {
	margin: auto;
	width: 100%;
}

.font-size-3 {
	font-size: 18px;
	font-weight: 300;
}

.footer__header {
	font-size: 22px;
	padding-bottom: 20px;
	font-weight: 400;
}

.footer__row a {
	text-decoration: none;
	color: #333;
}

.footer__row li {
	list-style: none;
	margin-top: 7px;
}

.text-center {
	text-align: center;
}

.footer__row li a:hover {
    color: lightblue;
}


.display-grid {
    display: grid;
}

.template-2-row {
    grid-template-rows: 2fr 1fr;
}

.grid-row-1 {
    grid-row: 1/2;
}

.grid-row-2 {
    grid-row: 2/3;
}

.template-3-column {
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__left {
    grid-column: 1/2;
}

.footer__center {
    grid-column: 2/3;
    margin: 0 auto;
}

.footer__right {
    grid-column: 3/4;
}


.footer__container {
    padding: 40px 0 0 0;
}