.store__wrapper {
    width: 100%;
    padding: 32px 0;
}

.store__header {
    width: 100%;
    text-align: center;
    padding: 32px 0;

}

.store__logo--wrapper {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store__logo {
    object-position: center;
}

.store__wrapper .store__name {
    width: 100%;
    font-size: 3rem;
    padding: 16px;
}

.store__navbar {
    width: 100%;
}

.store__navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    background-color: #fafafa;
    border-radius: 8px;
}


.navbar-item {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0 32px;
    position: relative;
    line-height: 64px;
}

.store__navbar-list li:hover {
    cursor: pointer;
}

.navbar-item:hover {
    opacity: 0.7;
    cursor: pointer;

}

.navbar-item__product-subnav {
    position: absolute;
    list-style: none;
    display: none;
    /* box-shadow: 0px 4px 4px #ccc; */

}

.navbar-item__product-subnav li {

}

#navbar-product:hover  .navbar-item__product-subnav {
    display: block;
}

.navbar-item__product-subnav-item {
    padding: 0 32px;
    line-height: 64px;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    background-color: white;
}

 .store__about-us-wrapper {
    width: 100%;
    background-color: #fafafa;
    border-radius: 8px;
 }

 .store__about-us-title {
     width: 100%;
     text-align: center;
     font-size: 1.8rem;
     padding-top: 32px;
 }

 .store__about-us-title::after {
     content: '';
     display: block;
     border: 0.5px solid black;
     width: 16%;
     margin: 0 auto;
     margin-top: 32px;
 }

 .store__about-us-content {
    padding: 64px;
    text-align: center;
 }


@media (max-width: 1024px) {
    .store__navbar-list {
        flex-direction: column;


    }

    .store__navbar-list li {
        width: 100%;
        /* border-bottom: 1px solid #ccc; */
        border-radius: 8px;


    }

    .navbar-item {
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 8px;
    }

    #navbar-product {
        position: relative;
    }

    .navbar-item__product-subnav {
        position: relative;

    }

    .navbar-item__product-subnav-item {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #fafafa;

    }

    .navbar-item__product-subnav-item:hover {
        opacity: 0.7;
    }


    
}






